<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elf.sys.org.mapper.DimensionUnitMapper">
    <resultMap id="BaseResultMap" type="com.elf.sys.org.entity.DimensionUnit">
        <id column="dimension_unit_id" jdbcType="VARCHAR" property="dimensionUnitId"/>
        <result column="dimension_id" jdbcType="VARCHAR" property="dimensionId"/>
        <result column="unit_id" jdbcType="VARCHAR" property="unitId"/>
        <result column="parent_dimension_unit_id" jdbcType="VARCHAR" property="parentDimensionUnitId"/>
        <result column="alias_name" jdbcType="VARCHAR" property="aliasName"/>
        <result column="unit_path" jdbcType="VARCHAR" property="unitPath"/>
        <result column="depth" jdbcType="DECIMAL" property="depth"/>
        <result column="sort" jdbcType="DECIMAL" property="sort"/>
        <result column="time_begin" jdbcType="TIMESTAMP" property="timeBegin"/>
        <result column="time_end" jdbcType="TIMESTAMP" property="timeEnd"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="is_enabled" jdbcType="CHAR" property="isEnabled"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="ACTIVE_FLAG" jdbcType="VARCHAR" property="activeFlag"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
        <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy"/>
        <result column="MODIFICATION_TIME" jdbcType="TIMESTAMP" property="modificationTime"/>
        <result column="EXT1" jdbcType="VARCHAR" property="ext1"/>
        <result column="EXT2" jdbcType="VARCHAR" property="ext2"/>
        <result column="EXT3" jdbcType="VARCHAR" property="ext3"/>
        <association property="dimension" javaType="com.elf.sys.org.entity.Dimension">
            <id column="dimension$id" jdbcType="VARCHAR" property="id"/>
            <result column="dimension$name" jdbcType="VARCHAR" property="name"/>
            <result column="dimension$type" jdbcType="CHAR" property="type"/>
            <result column="dimension$description" jdbcType="VARCHAR" property="description"/>
            <result column="dimension$is_default" jdbcType="CHAR" property="isDefault"/>
            <result column="dimension$sort" jdbcType="DECIMAL" property="sort"/>
            <result column="dimension$time_begin" jdbcType="TIMESTAMP" property="timeBegin"/>
            <result column="dimension$time_end" jdbcType="TIMESTAMP" property="timeEnd"/>
            <result column="dimension$is_enabled" jdbcType="CHAR" property="isEnabled"/>
            <result column="dimension$REMARK" jdbcType="VARCHAR" property="remark"/>
            <result column="dimension$ACTIVE_FLAG" jdbcType="VARCHAR" property="activeFlag"/>
            <result column="dimension$CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
            <result column="dimension$CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime"/>
            <result column="dimension$MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy"/>
            <result column="dimension$MODIFICATION_TIME" jdbcType="TIMESTAMP" property="modificationTime"/>
            <result column="dimension$EXT1" jdbcType="VARCHAR" property="ext1"/>
            <result column="dimension$EXT2" jdbcType="VARCHAR" property="ext2"/>
            <result column="dimension$EXT3" jdbcType="VARCHAR" property="ext3"/>
        </association>
        <association property="unit" javaType="com.elf.sys.org.entity.Unit">
            <id column="unit$id" jdbcType="VARCHAR" property="id"/>
            <result column="unit$name" jdbcType="VARCHAR" property="name"/>
            <result column="unit$description" jdbcType="VARCHAR" property="description"/>
            <result column="unit$code" jdbcType="VARCHAR" property="code"/>
            <result column="unit$type_id" jdbcType="VARCHAR" property="typeId"/>
            <result column="unit$time_begin" jdbcType="TIMESTAMP" property="timeBegin"/>
            <result column="unit$time_end" jdbcType="TIMESTAMP" property="timeEnd"/>
            <result column="unit$is_enabled" jdbcType="CHAR" property="isEnabled"/>
            <result column="unit$REMARK" jdbcType="VARCHAR" property="remark"/>
            <result column="unit$ACTIVE_FLAG" jdbcType="VARCHAR" property="activeFlag"/>
            <result column="unit$CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
            <result column="unit$CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime"/>
            <result column="unit$MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy"/>
            <result column="unit$MODIFICATION_TIME" jdbcType="TIMESTAMP" property="modificationTime"/>
            <result column="unit$EXT1" jdbcType="VARCHAR" property="ext1"/>
            <result column="unit$EXT2" jdbcType="VARCHAR" property="ext2"/>
            <result column="unit$EXT3" jdbcType="VARCHAR" property="ext3"/>
        </association>
    </resultMap>
    <!-- <select id="getDimensionUnitByUnitId" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from sys_org_dimension_unit
      where unit_id = #{unitId,jdbcType=VARCHAR}
    </select>
    <select id="getRootDimensionUnit" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from sys_org_dimension_unit du
      where du.dimension_id = #{dimensionId,jdbcType=VARCHAR}
      and du.parent_dimension_unit_id = '-1'
    </select> -->
    <select id="getChildDimensionUnitList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    du.*, d.id as dimension$id, d.name as dimension$name, u.id as unit$id, u.code as unit$code 
    from sys_org_dimension_unit du, sys_org_dimension d, sys_org_unit u
    where du.dimension_id = d.id
    and du.unit_id = u.id
    and du.parent_dimension_unit_id = #{parentDimensionUnitId,jdbcType=VARCHAR}
    and d.id = #{dimensionId,jdbcType=VARCHAR}
  </select>
    <select id="getDimensionUnitsByUnitPath" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    du.*, d.id as dimension$id, d.name as dimension$name, u.id as unit$id, u.name as unit$name, u.code as unit$code 
    from sys_org_dimension_unit du, sys_org_dimension d, sys_org_unit u
    where du.dimension_id = d.id
    and du.unit_id = u.id
    and du.unit_path like #{unitPath,jdbcType=VARCHAR}
    and d.id = #{dimensionId,jdbcType=VARCHAR}
  </select>
</mapper>