<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elf.sys.org.mapper.UserMapper">
  <!--<resultMap id="BaseResultMap" type="com.elf.sys.org.entity.User">-->
    <!--<id column="USER_ID" jdbcType="VARCHAR" property="userId" />-->
    <!--<result column="ACCOUNT" jdbcType="VARCHAR" property="account" />-->
    <!--<result column="PASSWORD" jdbcType="VARCHAR" property="password" />-->
    <!--<result column="FULLNAME" jdbcType="VARCHAR" property="fullname" />-->
    <!--<result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />-->
    <!--<result column="PWD_CHANGED_TIME" jdbcType="TIMESTAMP" property="pwdChangedTime" />-->
    <!--<result column="IS_LOCKED" jdbcType="VARCHAR" property="isLocked" />-->
    <!--<result column="LOCKED_REASON" jdbcType="VARCHAR" property="lockedReason" />-->
    <!--<result column="USER_HEAD" jdbcType="VARCHAR" property="userHead" />-->
    <!--<result column="SEX" jdbcType="VARCHAR" property="sex" />-->
    <!--<result column="BIRTHDATE" jdbcType="VARCHAR" property="birthdate" />-->
    <!--<result column="MOBILE_TELEPHONE" jdbcType="VARCHAR" property="mobileTelephone" />-->
    <!--<result column="EMAIL" jdbcType="VARCHAR" property="email" />-->
    <!--<result column="CREDENTIALS_TYPE" jdbcType="VARCHAR" property="credentialsType" />-->
    <!--<result column="CREDENTIALS_NUMBER" jdbcType="VARCHAR" property="credentialsNumber" />-->
    <!--<result column="HOME_ADDRESS" jdbcType="VARCHAR" property="homeAddress" />-->
    <!--<result column="REMARK" jdbcType="VARCHAR" property="remark" />-->
    <!--<result column="ACTIVE_FLAG" jdbcType="VARCHAR" property="activeFlag" />-->
    <!--<result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />-->
    <!--<result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />-->
    <!--<result column="MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy" />-->
    <!--<result column="MODIFICATION_TIME" jdbcType="TIMESTAMP" property="modificationTime" />-->
    <!--<result column="EXT1" jdbcType="VARCHAR" property="ext1" />-->
    <!--<result column="EXT2" jdbcType="VARCHAR" property="ext2" />-->
    <!--<result column="EXT3" jdbcType="VARCHAR" property="ext3" />-->
  <!--</resultMap>-->
  <!--<select id="getUsersByUnitId" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select-->
    <!--u.*-->
    <!--from sys_org_user u, sys_org_unit_user uu-->
    <!--where u.user_id = uu.user_id-->
    <!--and uu.unit_id = #{unitId,jdbcType=VARCHAR}-->
  <!--</select>-->
</mapper>