<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elf.sys.org.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.elf.sys.org.entity.User">
        <id column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="ACCOUNT" jdbcType="VARCHAR" property="account"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="FULLNAME" jdbcType="VARCHAR" property="fullname"/>
        <result column="USER_TYPE" jdbcType="VARCHAR" property="userType"/>
        <result column="PWD_CHANGED_TIME" jdbcType="TIMESTAMP" property="pwdChangedTime"/>
        <result column="IS_LOCKED" jdbcType="VARCHAR" property="isLocked"/>
        <result column="LOCKED_REASON" jdbcType="VARCHAR" property="lockedReason"/>
        <result column="USER_HEAD" jdbcType="VARCHAR" property="userHead"/>
        <result column="SEX" jdbcType="VARCHAR" property="sex"/>
        <result column="BIRTHDATE" jdbcType="VARCHAR" property="birthdate"/>
        <result column="MOBILE_TELEPHONE" jdbcType="VARCHAR" property="mobileTelephone"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="CREDENTIALS_TYPE" jdbcType="VARCHAR" property="credentialsType"/>
        <result column="CREDENTIALS_NUMBER" jdbcType="VARCHAR" property="credentialsNumber"/>
        <result column="HOME_ADDRESS" jdbcType="VARCHAR" property="homeAddress"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="ACTIVE_FLAG" jdbcType="VARCHAR" property="activeFlag"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
        <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy"/>
        <result column="MODIFICATION_TIME" jdbcType="TIMESTAMP" property="modificationTime"/>
        <result column="EXT1" jdbcType="VARCHAR" property="ext1"/>
        <result column="EXT2" jdbcType="VARCHAR" property="ext2"/>
        <result column="EXT3" jdbcType="VARCHAR" property="ext3"/>
        <collection property="unitList" ofType="com.elf.sys.org.entity.Unit">
            <id column="unit$UNIT_ID" jdbcType="VARCHAR" property="unitId"/>
            <result column="unit$UNIT_NAME" jdbcType="VARCHAR" property="unitName"/>
            <result column="unit$UNIT_CODE" jdbcType="VARCHAR" property="unitCode"/>
            <result column="unit$UNIT_TYPE" jdbcType="VARCHAR" property="unitType"/>
            <result column="unit$TIME_BEGIN" jdbcType="VARCHAR" property="timeBegin"/>
            <result column="unit$TIME_END" jdbcType="VARCHAR" property="timeEnd"/>
            <result column="unit$IS_ENABLED" jdbcType="VARCHAR" property="isEnabled"/>
            <result column="unit$REMARK" jdbcType="VARCHAR" property="remark"/>
            <result column="unit$ACTIVE_FLAG" jdbcType="VARCHAR" property="activeFlag"/>
            <result column="unit$CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
            <result column="unit$CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime"/>
            <result column="unit$MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy"/>
            <result column="unit$MODIFICATION_TIME" jdbcType="TIMESTAMP" property="modificationTime"/>
            <result column="unit$EXT1" jdbcType="VARCHAR" property="ext1"/>
            <result column="unit$EXT2" jdbcType="VARCHAR" property="ext2"/>
            <result column="unit$EXT3" jdbcType="VARCHAR" property="ext3"/>
        </collection>
    </resultMap>
    <select id="selectUnitUsers" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        u.*
        from sys_org_user u, sys_org_unit_user uu
        where u.user_id =
        uu.user_id
        and uu.unit_id = #{unitId}
        <if test="account != null and account != ''">
            and u.account = #{account}
        </if>
        <if test="fullname != null and fullname != ''">
            and u.fullname like #{fullname}
        </if>
    </select>
    <select id="selectUnitUsersByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT _user.*, unit.UNIT_CODE AS unit$UNIT_CODE, unit.UNIT_NAME AS unit$UNIT_NAME
        FROM (SELECT _user.*
            FROM sys_org_user _user, sys_sec_user_role userRole
            WHERE _user.USER_ID = userRole.user_id
                AND userRole.role_id = #{roleId,jdbcType=VARCHAR}
                <if test="account != null and account != ''">
                    AND _user.account = #{account}
                </if>
                <if test="fullname != null and fullname != ''">
                    AND _user.fullname like #{fullname}
                </if>
            ) _user
            LEFT JOIN sys_org_unit unit ON (
                    SELECT 1
                    FROM sys_org_unit_user unitUser
                    WHERE _user.USER_ID = unitUser.user_id
                        AND unitUser.unit_id = unit.UNIT_ID
                    )
  </select>
</mapper>